<% provide(:title, "About") %>
<h1>About</h1>
<p>GeekCollect will allow you to share your collection, including:</p>
  <ul>
    <li>Movies</li>
    <li>TV Shows</li>
    <li>Video Games</li>
    <li>Board Games</li>
    <li>Music</li>
    <li>Books</li>
    <li>Comics</li>
    <li>And more!</li>
  </ul>
<p>We are currently in development. Stay tuned!</p>
