<div class="center jumbotron">
  <h1>Welcome to GeekCollection</h1>

  <h2>Love movies? Board games? Video Games?</h2>
  <h2>Sign up, add your swag and find others that share your interests!</h2>
  
  <h2><strong>Note: This is a sample app to demonstrate my ability to allow a user to 
  signup, log in and log out of a website utilizing Ruby on Rails.</strong></h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>